version: 2 # use CircleCI 2.0

job_defaults: &job_defaults
  docker:
    - image: cimg/node:14.16.1-browsers

cache_key: &cache_key angular-starter-kit-v1-deps-cache-{{ .Branch }}-{{ checksum "package-lock.json" }}
dist_key: &dist_key angular-starter-kit-v1-dist-{{ .Revision }}
cypress_cache_key: &cypress_cache_key angular-starter-kit-v1-cypress_cache-{{ .Branch }}-{{ checksum "package-lock.json" }}

jobs:
  install:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      - run: npm ci
      - save_cache:
          key: *cache_key
          paths:
            - node_modules
      - save_cache:
          key: *cypress_cache_key
          paths:
            - ~/.cache/Cypress
  build:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      - run: npm run test:ci
      - run: npm run codecov
      - run: npm run build
      - save_cache:
          key: *dist_key
          paths:
            - dist

  test:e2e:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      - restore_cache:
          key: *cypress_cache_key
      - run: export CYPRESS_CACHE_FOLDER=~/.cache/Cypress
      - run: npm run e2e:ci:concurrent

  release:
    <<: *job_defaults
    steps:
      - checkout
      - restore_cache:
          key: *cache_key
      - restore_cache:
          key: *dist_key
      - run: cp package.json dist/main
      - run: npm run release

workflows:
  version: 2
  build-test-release:
    jobs:
      - install
      - build:
          requires:
            - install
      - test:e2e:
          requires:
            - build
      - release:
          requires:
            - test:e2e
          filters:
            branches:
              only: master
